In [20]:
import pandas as pd

In [21]:
# Ensure the dataframe is defined
df = pd.read_csv('Chocolate_Sales.csv')

# Display dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB

# 1. Extract

In [22]:
df = pd.read_csv('Chocolate_Sales.csv')
print("Extracted Data:")
print(df.head())

Extracted Data:
     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

# 2. Transformation

## Removing leading and trailing spaces from column names:

In [16]:
df.columns = df.columns.str.strip()
print("Transformed Data:")
print(df.head())

Transformed Data:
     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

## Removing leading and trailing spaces from string data in each column

In [17]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
print("Data after removing leading and trailing spaces:")
print(df.head())

Data after removing leading and trailing spaces:
     Sales Person    Country              Product       Date   Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

C:\Users\Capaciti\AppData\Local\Temp\ipykernel_19128\1184585809.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

## Converting the Amount column to numeric values by removing $ and , characters

In [18]:
df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)
print("Data after converting 'Amount' column to numeric:")
print(df.head())

Data after converting 'Amount' column to numeric:
     Sales Person    Country              Product       Date   Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   5320.0
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   7896.0
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   4501.0
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  12726.0
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  13685.0

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Capaciti\AppData\Local\Temp\ipykernel_19128\3808448705.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)

## Converting the Date column to datetime format

In [19]:
sdf['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')
print("Data after converting 'Date' column to datetime:")
print(df.head())

NameError: name 'sdf' is not defined

# 3. Loading

In [ ]:
df.to_csv('Chocolate_Sales_Cleaned.csv', index=False)
print("\nTransformed Data:")
print(df.head())
print("\nThe cleaned and transformed data has been saved to 'Chocolate_Sales_Cleaned.csv'.")

# 4. ETL Pipeline

In [ ]:

input_file_path = 'Chocolate_Sales.csv'
output_file_path = 'Chocolate_Sales_Cleaned.csv'
etl_pipeline(input_file_path, output_file_path)

NameError: name 'etl_pipeline' is not defined